openapi: 3.0.0
info:
  title: asembl-v3
  version: '3.0'
  description: ''
servers:
  - url: 'https://appstage.asemblco.com/api/v3'
    description: stage
paths:
  '/user/{id}/categories':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    put:
      summary: User categories
      operationId: put-user-id-categories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        description:
                          type: string
                        priority:
                          type: number
                        main_image_path:
                          type: string
                          description: image relative path
                        thumb_image_path:
                          type: string
                          description: thumb relative path
                        sub_category_list:
                          type:
                            - string
                            - array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                              description:
                                type: string
                              priority:
                                type: number
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
        - schema:
            type: string
          in: header
          name: AccessToken
          required: true
          description: Logged user access token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: |
                Categories
              properties:
                categories:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: number
                        description: parent category id
                      sub_category_list:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                              description: child category id
                          required:
                            - id
                    required:
                      - id
              required:
                - categories
            examples:
              example-1: {}
        description: ''
      description: ''
  '/event/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Event details
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  title:
                    type: string
                  descriptions:
                    type: string
                  entry_fee:
                    type: string
                  event_url:
                    type: string
                  image:
                    type: string
                    description: Absolute path of main image
                  dates:
                    type: object
                    properties:
                      calendar_date:
                        type: string
                        description: Date in format yyyy-mm-dd
                        format: date
                      start_date:
                        type: string
                        description: 'date time format yyyy-mm-dd HH:mm:ss'
                        format: date-time
                      finish_date:
                        type: string
                        description: 'date time format yyyy-mm-dd HH:mm:ss'
                        format: date-time
                  address:
                    type: object
                    properties:
                      street_address:
                        type: string
                      city:
                        type: string
                      state:
                        type: string
                      post_code:
                        type: string
                      lat:
                        type: string
                      lng:
                        type: string
                  owner:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      thumb_image_path:
                        type: string
                        description: Absolute path
                  categories:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        parent_id:
                          type: integer
                        name:
                          type: string
                  event_attending_status:
                    type: string
                    description: Only returnet if user is logged
      operationId: get-events-id
      description: Return events details
      parameters:
        - schema:
            type: string
          in: header
          name: AccessToken
          description: Logged user token
    put:
      summary: ''
      operationId: put-event-id
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      event:
                        type: object
      description: Edit event
      parameters:
        - schema:
            type: string
          in: header
          name: AccessToken
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eventData'
        description: ''
  '/event/{id}/guest':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Event guests
      tags: []
      responses: {}
      operationId: get-event-id-guest
      description: Return five guests with name and thumb and a total event guests count.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                total_guests:
                  type: string
                users_guests:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      thumb_image_path:
                        type: string
  /event:
    post:
      summary: Event store
      operationId: post-event
      responses:
        '200':
          description: OK
          content:
            multipart/form-data:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      event:
                        type: object
      description: Add new event
      parameters:
        - schema:
            type: string
          in: header
          name: AccessToken
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eventData'
  '/user/{id}/event/{type}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
      - schema:
          type: string
          enum:
            - going
            - went
        name: type
        in: path
        required: true
    get:
      summary: User events
      tags: []
      responses: {}
      operationId: get-user-id-event-type
      parameters:
        - schema:
            type: string
          in: header
          name: AcessToken
          required: true
      description: "Return paginated user's going or went events"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: boolean
                message:
                  type: string
                data:
                  type: object
                  properties:
                    events:
                      type: object
                      properties:
                        total:
                          type: integer
                        per_page:
                          type: integer
                        current_page:
                          type: integer
                        last_page:
                          type: integer
                        next_page_url:
                          type: string
                        prev_page_url:
                          type: string
                        from:
                          type: integer
                        to:
                          type: integer
                        data:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              title:
                                type: string
                              starting_utc_date_time:
                                type: string
                              image:
                                type: string
            examples:
              Sucess example:
                value:
                  status: true
                  message: User events
                  data:
                    events:
                      total: 500
                      per_page: 20
                      current_page: 2
                      last_page: 25
                      next_page_url: 'http://localhost/api/v3/user/129/event/went?page=3'
                      prev_page_url: 'http://localhost/api/v3/user/129/event/went?page=1'
                      from: 21
                      to: 40
                      data:
                        - id: 7157
                          title: Laurin Talese
                          starting_utc_date_time: '2020-02-20 00:00:00'
                          image: /files/event_images/t_716520200121074423.jpg
                        - id: 7224
                          title: Global Connection Night February 2020
                          starting_utc_date_time: '2020-02-20 02:00:00'
                          image: /files/event_images/t_181520200125123959.jpg
        description: Paginated result
components:
  schemas:
    categories:
      title: categories
      type: object
      properties:
        id:
          type: string
          description: parent id
        children:
          type: array
          description: "children's id array"
          items:
            type: integer
    Error:
      title: Error
      type: object
      properties:
        status:
          type: boolean
        error:
          type:
            - string
            - array
          items: {}
      description: Default error
    eventData:
      title: eventData
      type: object
      description: Event data
      properties:
        categories:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: parent id
              children:
                type: array
                description: children id
                items:
                  type: integer
            required:
              - id
        file:
          type: string
          description: multipart file
        title:
          type: string
          maxLength: 250
          minLength: 3
        address:
          type: string
          minLength: 3
          maxLength: 250
        city:
          type: string
          minLength: 3
          maxLength: 250
        state:
          type: string
          minLength: 1
          maxLength: 250
        lat:
          type: string
          minLength: 4
          maxLength: 250
        lng:
          type: string
          minLength: 4
          maxLength: 250
        post_code:
          type: string
          minLength: 1
          maxLength: 50
        description:
          type: string
          minLength: 3
        entry_fee:
          type: number
        event_url:
          type: string
          description: 'with protocol (http:// or https://)'
        starting_utc_date_time:
          type: string
          example: '2020-05-18 12:45:56'
        end_utc_date_time:
          type: string
          example: '2020-05-18 12:45:56'
        age_group:
          type: string
          example: 0-100
          minLength: 3
        genders:
          type: array
          minItems: 1
          maxItems: 3
          items:
            type: string
            enum:
              - m
              - f
              - nb
        invitation_to:
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
        groups:
          type: array
          description: selected groups id
          items:
            type: integer
        contacts:
          type: array
          description: selected friends id
          items:
            type: integer
      required:
        - title
        - address
        - lat
        - lng
        - starting_utc_date_time
        - age_group
        - genders
        - invitation_to
  securitySchemes: {}
